@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@0;1&display=swap');

:root{
 --forBackground:#7f7f7f;
 --toContrast:#8e8e8e;
 --borderRed:1px red solid;
 --borderYellow:1px yellow solid;
}

html{
 font-size:24px;
 color:#F2F2F2;
}

body{
 background-color: black;
}

/**************************************
CONTAINER OF ALL THE SECTIONS
**************************************/

#containerOfAllTheSections{
 /* border:1px red solid; */
 margin: 25px 3px;
 border-radius: 5px;
 background-color: var(--forBackground);
 text-align:center;
 font-family: 'Philosopher', sans-serif;
}

/**************************************
MAIN
**************************************/

#main{
 margin:1.5rem 1rem;
 display:flex;
 flex-direction: column;
}

#title{
 display:flex;
 align-self:row;
 align-self:center;
 position:relative;
 padding-top:25px;
 margin-bottom:0px;
 font-size: 3.5rem;
 text-shadow:0.8px 0.8px 10px #f4f4f4;
 height:auto;
}

@media only screen and (max-width: 310px){
 #title{
 width:20%;
 /* border:var(--borderRed); */
 font-size: 2.5rem;
 justify-content: center;
 }
}

#main img{
 display:flex;
 width:12%;
 align-self: center;
 flex-direction: row;
}

#main h2{
 align-self: center;
 margin-bottom: 0.8rem;
 margin-top:0;
 font-size:1.5rem;
}

/**************************************
IMG-DIV
**************************************/
#img-div{
 /* border: red solid 1px; */
 max-width: 100%;
 max-height: 100%;
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-radius:.5rem;
 margin:0px 1.5rem;
 background-color:var(--toContrast);
 box-shadow: 0 4px 8px black, 
             0 6px 20px rgb(12, 6, 63),
             inset 0.1px 0.1px 1.2em;
}

#image{
 /* border: green solid 1px; */
 max-width:55%;
 max-height:55%;
 margin-top:2rem;
 border-radius: 15px;
}

#img-caption{
 /* border: green solid 1px; */
 padding: 1.2rem;
 font-size:0.9rem;
 text-align: justify;
 line-height: 1.25rem;
}

#img-caption i{
 display:none;
}

#img-caption a:hover i{
 cursor:pointer;
 display:inline-block;
}

#img-caption a::after{
 content:"\A";
 white-space:pre;
}

#img-caption span{
 text-indent:100px;
 /* border:var(--borderYellow); */
}


/**************************************
TRIBUTE INFO
**************************************/

#tribute-info{
 /* border: 1px red solid; */
 display:flex;
 flex-direction:column;
 /* position:relative; */
 /* margin:1.5rem 15rem; */
 
}

#tribute-info h2{
 display:flex; 
 font-size:1.5rem;
 justify-content:center;
 margin-bottom: 0;
 margin-top: 40px;
 /* border: yellow 1px solid; */
 
}

#tribute-info ul{
 /* border:1px rgb(147, 236, 147) solid; */
 flex-direction:column;
 justify-content: center;
 align-items: center;
 align-self: center;
 padding:0;
 width: 45%;
 display:flex;
}

#tribute-info ul li{
 /* border:1px blue solid; */
 align-items: center;
 justify-content: center; 
 text-align:justify;
 padding:0.4rem 0.6rem;
 margin-bottom: 0.6rem;
 list-style: none;
 border-left:8px solid var(--toContrast);
 /* border-right:3px solid var(--toContrast); */
 border-bottom:4px solid var(--toContrast);
 border-radius: 20px;
 border-bottom-left-radius: 10px;
 width:100%;
}

#tribute-info ul span{
 font-weight: 700;
}

/**************************************
TRIBUTE-INFO APPOINTMENT
**************************************/

#tribute-info #appointment{
 /* border: red 1px solid; */
 align-items: center;
 flex-direction:column;
 align-self: center;
 padding:0.4rem 0;
 width: 40%;
 display:flex;
 border-bottom:8px solid var(--toContrast);
 border-top:4px solid var(--toContrast);
 border-radius: 8%;
}

#tribute-info #appointment p:first-child{
 /* border:green 1px solid; */
 margin:0.5rem;
 width:100%;
}

#tribute-info #appointment p:last-child{
 /* border:red solid 1px; */
 align-self:flex-start;
 font-style: italic;
}

/**************************************
CALL TO READ MORE
**************************************/

#callToReadMore{
 margin-top: 1.1rem;
 padding: 1.1rem;
 font-size: 1.2rem;
}

#callToReadMore p{
 text-align: center;
}

#callToReadMore i{
 display:none;
}

#callToReadMore a:hover i{
 cursor:pointer;
 display:inline-block;
}

.externalLink{
 /* border:var(--borderRed); */
 padding-top:2rem;
 color: #00008b;
 text-decoration: none;
 border-bottom: 1px black solid;
 font-weight: 900;
}


.externalLink:hover{
 text-transform: uppercase;
 color:#1313a9;
 border-bottom:none;
 }

.externalLink:focus{
text-transform: uppercase;
color:white;
border-bottom:none;
background-color:rgb(55, 46, 46);
border-radius: 5px;
}

.externalLink:visited{
 color:white;
 border-bottom:none;
}


/**************************************
FOOTER
**************************************/

footer{
 /* border:var(--borderRed); */
 display:flex;
 flex-direction: column;
 align-self: flex-end;
 box-shadow: 0px -0.1px 8px 4px #000000, 
             inset 0 0.5px 8px rgb(12, 6, 63);
 opacity: 0.7;
 background-color:#BABABA;
 border-radius: 5px;
 font-family: monospace; 
}

footer p{
 /* border:var(--borderYellow); */
 align-self:flex-end;
 margin:0.2rem;
 margin-right:0.8rem;
 color:black;
}

footer p a{
 color:rgb(26, 26, 156);
}

footer p a:hover{
 text-transform:uppercase;
}

footer p a:focus{
 color:white;
}