@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap');

#mainContent{
 /* border:1px red solid; */
 margin: 25px 3px;
 border-radius: 5px;
 background-color: #f7dccb;
 text-align:center;
 font-family: 'Philosopher', sans-serif;
 font-size:16px;
}

#main h1{
 padding-top:25px;
 font-size: 3rem;
}
